@using TestWebSite.Models.VIewModels

@model LoginViewModel
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>


<div class="Menu">
    <form method="post" asp-action="Login" asp-controller="Autorization">
        <div class="Text">
            <h1>авторизация</h1>
        </div>
        <div class="Inputs">
            <div class="InputBox">
                <input asp-for="Login" placeholder="логин">
            </div>
            <div class="InputBox">
                <input asp-for="Password" type="password" placeholder="пароль">
            </div>
        </div>
        <div class="buttons">
            <div class="button">
                <button>войти</button>
            </div>
            <div class="link">
                <a asp-controller="Autorization" asp-action="Register">зарегистрироваться</a>
            </div>
        </div>
    </form>
</div>
    
