@using TestWebSite.Models.VIewModels

<head>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/Profile.css" rel="stylesheet" />
</head>

@model ProfileViewModel
<div class="Menu">
    <h1>@Model.Name</h1>
    <h2 class="as">@@id @Model.Id</h2>
    <h2 class="ad">email: @Model.Email</h2>
</div>